<form action="<%= url_for(:action => 'check_main') %>" method="POST">
  <br/>
  <h3>
    Use Directory Path:&nbsp;
    <%= text_field_tag(:pathName, session[:directory], :size => '20' ) %>
  </h3>
  <br/>
  <div style="text-align: center;">
    <%= submit_tag('Change Directory Path') -%>
  </div>
  <div style="text-align: center;">
    <h4>
      <%= link_to(session[:active], :action => 'toggle_active') -%>
    </h4>
    <h4>
      <%= link_to('Manual Reprints', {:action => 'manual_control'}, {:type => 'button'}) -%>
    </h4>
  </div>
</form>
