<form action="<%= url_for(:action => 'load_invoice') %>" method="POST">
  <br/>
  <h3>
    <%= link_to( 'List Lines', {:controller => 'print/invoice_lines'} ) %>
  </h3>
  <br/>
  <h3>
    <%= link_to( 'Print Invoice', {:action => :print_invoice, :medium => 'pdf_invoice'} ) %>
  </h3>
  <br/>
  <h3>
    Load Invoice from File:&nbsp;<%= text_field_tag( "fileNamr", 'ROR', :size => 20 ) -%>
  </h3>
  <div style="text-align: center;">
    <%= submit_tag('Go') -%>
  </div>
</form>
