<form action="<%= url_for(:action => 'check_instructions') %>" method="POST">
      <br/>
  <h3>
    Use Directory Path:#&nbsp;
    <%= text_field_tag( :pathName, 'q:/ror', :size => '20' ) %>
  </h3>
  <br/>
  <h3>
    Process Invoice #:&nbsp;
    <%= select_tag( :fileName, file_name_options() ) %>
  </h3>
  <br/>
  <div style="text-align: center;">
    <%= submit_tag('Go') -%>
  </div>
  <div style="text-align: center;">
    <h4>
      <%= link_to ('Clear', :action => 'clear') -%>
    </h4>
  </div>
</form>
