<form id="auto_control" action="<%= url_for(:action => 'auto_submit') %>" method="POST">
  <script type="text/javascript">pcrActive = true;</script>
  <%= periodically_call_remote( :condition => "pcrActive == true", :before => "pcrActive = false;", :url => { :action => "poll_for_data" }) -%>
  <br/>
  <h3>
    <span>Use Directory Path:&nbsp;<%= text_field_tag(:pathName, session[:directory], :size => '20' ) %></span>
    <span><%= submit_tag('Set New Path') -%></span>
  </h3>
  <br/>
  <div style="text-align: center;">
    <h4>
      <%= submit_tag(session[:active]) -%>
    </h4>
    <h4>
      <%= submit_tag('Manual Reprints') -%>
    </h4>
  </div>
  <br/>
</form>
