<form onload="StopTimer()" id="manual_control" action="<%= url_for(:action => 'manual_submit') %>" method="POST">
  <script type="text/javascript">pcrActive = false;</script>
  <br/>
  <h3>
    Reprint Invoice:&nbsp;
    <%= select_tag(:invoice_id, options_for_select(@invoices)) %>
  </h3>
  <div id="copy-control">
    <fieldset><legend>Copies Control</legend>
      <ul>
        <li><%= radio_button_tag( :invoiceCopies, 'N' ) -%> Normal Copies (<span class="alpha">Account</span>, <span class="numerical">Numerical</span>, <span class="customer">Customer</span>)</li>
        <li><%= radio_button_tag( :invoiceCopies, 'D' ) -%> Normal Set plus the <span class="packing">Delivery Note</span></li>
        <li class="customer"><%= radio_button_tag( :invoiceCopies, 'R', true ) -%> Reprint Invoice</li>
        <li class="packing"><%= radio_button_tag( :invoiceCopies, 'P' ) -%> Delivery Note Only</li>
      </ul>
    </fieldset>
  </div>
  <br/>
  <div style="text-align: center;">
    <%= submit_tag('Print') -%>
  </div>
  <div style="text-align: center;">
    <h4>
      <%= submit_tag('Refresh') -%>
    </h4>
    <h4>
      <%= submit_tag('Automatic Operation') -%>
    </h4>
  </div>
</form>
